In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("ex2data1.txt", header=None)
df.head()

           0          1  2
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [36]:
X = df.iloc[:, :-1]
X.head()

           0          1
0  34.623660  78.024693
1  30.286711  43.894998
2  35.847409  72.902198
3  60.182599  86.308552
4  79.032736  75.344376

In [37]:
y = df.iloc[:,-1]
y.head()

0    0
1    0
2    0
3    1
4    1
Name: 2, dtype: int64

In [38]:
X = np.c_[np.ones((X.shape[0], 1)), X]
X

array([[ 1.        , 34.62365962, 78.02469282],
       [ 1.        , 30.28671077, 43.89499752],
       [ 1.        , 35.84740877, 72.90219803],
       [ 1.        , 60.18259939, 86.3085521 ],
       [ 1.        , 79.03273605, 75.34437644],
       [ 1.        , 45.08327748, 56.31637178],
       [ 1.        , 61.10666454, 96.51142588],
       [ 1.        , 75.02474557, 46.55401354],
       [ 1.        , 76.0987867 , 87.42056972],
       [ 1.        , 84.43281996, 43.53339331],
       [ 1.        , 95.86155507, 38.22527806],
       [ 1.        , 75.01365839, 30.60326323],
       [ 1.        , 82.30705337, 76.4819633 ],
       [ 1.        , 69.36458876, 97.71869196],
       [ 1.        , 39.53833914, 76.03681085],
       [ 1.        , 53.97105215, 89.20735014],
       [ 1.        , 69.07014406, 52.74046973],
       [ 1.        , 67.94685548, 46.67857411],
       [ 1.        , 70.66150955, 92.92713789],
       [ 1.        , 76.97878373, 47.57596365],
       [ 1.        , 67.37202755, 42.83843832],
       [ 1.        , 89.67677575, 65.79936593],
       [ 1.        , 50.53478829, 48.85581153],
       [ 1.        , 34.21206098, 44.2095286 ],
       [ 1.        , 77.92409145, 68.97235999],
       [ 1.        , 62.27101367, 69.95445795],
       [ 1.        , 80.19018075, 44.82162893],
       [ 1.        , 93.1143888 , 38.80067034],
       [ 1.        , 61.83020602, 50.25610789],
       [ 1.        , 38.7858038 , 64.99568096],
       [ 1.        , 61.37928945, 72.80788731],
       [ 1.        , 85.40451939, 57.05198398],
       [ 1.        , 52.10797973, 63.12762377],
       [ 1.        , 52.04540477, 69.43286012],
       [ 1.        , 40.23689374, 71.16774802],
       [ 1.        , 54.63510555, 52.21388588],
       [ 1.        , 33.91550011, 98.86943574],
       [ 1.        , 64.17698887, 80.90806059],
       [ 1.        , 74.78925296, 41.57341523],
       [ 1.        , 34.18364003, 75.23772034],
       [ 1.        , 83.90239366, 56.30804622],
       [ 1.        , 51.54772027, 46.85629026],
       [ 1.        , 94.44336777, 65.56892161],
       [ 1.        , 82.36875376, 40.61825516],
       [ 1.        , 51.04775177, 45.82270146],
       [ 1.        , 62.22267576, 52.06099195],
       [ 1.        , 77.19303493, 70.4582    ],
       [ 1.        , 97.77159928, 86.72782233],
       [ 1.        , 62.0730638 , 96.76882412],
       [ 1.        , 91.5649745 , 88.69629255],
       [ 1.        , 79.94481794, 74.16311935],
       [ 1.        , 99.27252693, 60.999031  ],
       [ 1.        , 90.54671411, 43.39060181],
       [ 1.        , 34.52451385, 60.39634246],
       [ 1.        , 50.28649612, 49.80453881],
       [ 1.        , 49.58667722, 59.80895099],
       [ 1.        , 97.64563396, 68.86157272],
       [ 1.        , 32.57720017, 95.59854761],
       [ 1.        , 74.24869137, 69.82457123],
       [ 1.        , 71.79646206, 78.45356225],
       [ 1.        , 75.39561147, 85.75993667],
       [ 1.        , 35.28611282, 47.02051395],
       [ 1.        , 56.2538175 , 39.26147251],
       [ 1.        , 30.05882245, 49.59297387],
       [ 1.        , 44.66826172, 66.45008615],
       [ 1.        , 66.56089447, 41.09209808],
       [ 1.        , 40.45755098, 97.53518549],
       [ 1.        , 49.07256322, 51.88321182],
       [ 1.        , 80.27957401, 92.11606081],
       [ 1.        , 66.74671857, 60.99139403],
       [ 1.        , 32.72283304, 43.30717306],
       [ 1.        , 64.03932042, 78.03168802],
       [ 1.        , 72.34649423, 96.22759297],
       [ 1.        , 60.45788574, 73.0949981 ],
       [ 1.        , 58.84095622, 75.85844831],
       [ 1.        , 99.8278578 , 72.36925193],
       [ 1.        , 47.26426911, 88.475865  ],
       [ 1.        , 50.4581598 , 75.80985953],
       [ 1.        , 60.45555629, 42.50840944],
       [ 1.        , 82.22666158, 42.71987854],
       [ 1.        , 88.91389642, 69.8037889 ],
       [ 1.        , 94.83450672, 45.6943068 ],
       [ 1.        , 67.31925747, 66.58935318],
       [ 1.        , 57.23870632, 59.51428198],
       [ 1.        , 80.366756  , 90.9601479 ],
       [ 1.        , 68.46852179, 85.5943071 ],
       [ 1.        , 42.07545454, 78.844786  ],
       [ 1.        , 75.47770201, 90.424539  ],
       [ 1.        , 78.63542435, 96.64742717],
       [ 1.        , 52.34800399, 60.76950526],
       [ 1.        , 94.09433113, 77.15910509],
       [ 1.        , 90.44855097, 87.50879176],
       [ 1.        , 55.48216114, 35.57070347],
       [ 1.        , 74.49269242, 84.84513685],
       [ 1.        , 89.84580671, 45.35828361],
       [ 1.        , 83.48916274, 48.3802858 ],
       [ 1.        , 42.26170081, 87.10385094],
       [ 1.        , 99.31500881, 68.77540947],
       [ 1.        , 55.34001756, 64.93193801],
       [ 1.        , 74.775893  , 89.5298129 ]])

In [41]:
y = y[:,np.newaxis]
y

array([[0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1]])

In [59]:
theta = np.zeros((X.shape[1], 1))
theta

array([[0.],
       [0.],
       [0.]])

In [57]:
def hypothesis(theta, X):
    z = np.dot(X, theta)
    return 1/(1+np.exp(-(z))) - 0.0000001

In [77]:
h = hypothesis(theta, X)
np.dot(X.T, (h-y))

array([[  -10.00001   ],
       [-1200.92231537],
       [-1126.28488277]])

In [58]:
def costFunc(theta, X , y):
    y1 = hypothesis(theta, X)
    m = X.shape[0]
    return -(1/m) * np.sum(y*np.log(y1) + (1-y)*np.log(1-y1))

In [63]:
def gradient(theta, X, y):
    m = X.shape[0]
    h = hypothesis(theta, X)
    return 1/m * np.dot(X.T, (h-y))

In [64]:
from scipy.optimize import minimize, fmin_tnc
def fit(X,y,theta):
    para = fmin_tnc(func=costFunc, x0=theta, fprime=gradient, args=(X, y.flatten()))
    return para[0]
parameters = fit(X, y , theta)

In [65]:
parameters

array([-25.16133919,   0.20623176,   0.20147167])

In [69]:
h = hypothesis(parameters, X)
h

array([9.10338180e-02, 4.21586616e-05, 4.39087543e-02, 9.90424653e-01,
       9.98198663e-01, 1.07974271e-02, 9.98978046e-01, 4.23227221e-01,
       9.99709922e-01, 7.35388275e-01, 9.09674555e-01, 2.85966215e-02,
       9.99270048e-01, 9.99853846e-01, 1.56037031e-01, 9.80959344e-01,
       4.27717091e-01, 1.48789120e-01, 9.99706445e-01, 5.74281053e-01,
       6.68348801e-02, 9.98627154e-01, 7.41791028e-03, 1.01054741e-04,
       9.91878194e-01, 8.55048927e-01, 6.00299020e-01, 8.65185055e-01,
       9.23891643e-02, 1.68287908e-02, 8.97130992e-01, 9.81037336e-01,
       1.54910944e-01, 3.91938827e-01, 7.41288671e-02, 3.31106407e-02,
       8.52268325e-01, 9.87564277e-01, 2.03987704e-01, 4.95798448e-02,
       9.70300397e-01, 6.11812100e-03, 9.99461389e-01, 5.02285337e-01,
       4.48859197e-03, 1.37023749e-01, 9.92991743e-01, 9.99996081e-01,
       9.99204822e-01, 9.99990661e-01, 9.98106695e-01, 9.99500391e-01,
       9.05016084e-01, 2.80603859e-03, 8.52260039e-03, 5.28908465e-02,
       9.99856531e-01, 6.93708134e-01, 9.85496639e-01, 9.95728538e-01,
       9.99531551e-01, 2.22275571e-04, 3.50529404e-03, 1.26966114e-04,
       7.16565983e-02, 4.08759912e-02, 9.44426308e-01, 1.00704275e-02,
       9.99952348e-01, 7.09301039e-01, 6.19391336e-05, 9.77396171e-01,
       9.99893259e-01, 8.84276653e-01, 9.05240803e-01, 9.99954805e-01,
       9.17695009e-01, 6.26744239e-01, 1.58400109e-02, 5.99469469e-01,
       9.99282397e-01, 9.73471599e-01, 8.94532380e-01, 2.03192601e-01,
       9.99940948e-01, 9.97982392e-01, 3.54560220e-01, 9.99819931e-01,
       9.99973111e-01, 1.06959149e-01, 9.99943854e-01, 9.99985125e-01,
       1.42417618e-03, 9.99321647e-01, 9.24570275e-01, 8.58639305e-01,
       7.50882349e-01, 9.99896507e-01, 3.39275559e-01, 9.99750835e-01])

In [70]:
def predict(h):
    h1 = []
    for i in h:
        if i>=0.5:
            h1.append(1)
        else:
            h1.append(0)
    return h1
y_pred = predict(h)
accuracy = 0
for i in range(0, len(y_pred)):
    if y_pred[i] == y[i]:
        accuracy += 1
accuracy/len(y)

0.89